a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

.card {
    margin-right: 2em;
}
.card-body{
    height: 8em;
}

nav {
    margin-bottom: 2em;
}

.blog-post-gallery {
    max-height: 500px; 
}

.blog-post-gallery img {
    max-width: 100%;
    height: auto;   
}