---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">

    <div class="img_row">
      <img class="col three" src="{{ site.baseurl }}{{ page.images.main }}" alt="{{ page.description }}" title="{{ page.description }}"/>
    </div>
    
    {{ content }}

    <div class="img_row">

    {% for img in page.images.items %}
    
      <img class="col one" src="{{ site.baseurl }}{{ img }}" alt="{{ page.description }}" title="{{ page.description }}"/>      

    {% endfor %}

    </div>
    
    <div class="col three caption">
        {{ page.description }}
    </div>
    
  </article>

</div>
