---
layout: default
---
<div class="blog-post container">

  <h2 class="blog-post-title">{{ page.title }}</h2>
  <p class="blog-post-meta">{{ page.description }}</p>

  <article class="post-content">
    
    {{ content }}

    <div class="blog-post-gallery owl-carousel">

    {% for img in page.images.items %}
    
      <img class="blog-post-gallery-image" src="{{ site.baseurl }}{{ img }}" alt="{{ page.description }}" />      

    {% endfor %}

    </div>
    
  </article>

</div>

<script>
window.owlSettings = {
  number: 3,
  nav: 1,
  margin: 10,
};
</script> 